**/__pycache__/**
**/*.zarr/**
**/results/**
**/gifs/**
**/gifs_best/**
**.pth
**/DungeonMaps/**
**/data/**
**/outputs/**
**/dataset/**
**/runs/**
**/.vscode/**
**/**.egg-info/**
**/optuna/**__pycache__/
*.pyc
logs/
runs/
checkpoints/
*.csv
*.exe
